@import "tailwindcss";

:root {
  --color-lavender-500: oklch(0.448 0.1377 288.45);
  --color-lavender-600: #43367c;
  --color-lavender-700: #2a224e;
  --color-lavender-900: #19142e;
  color: #f9f9f9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}